<h1 class="text-center"> Area de administrador: </h1>
<div class="card mt-4">
    <div class="card-body">
        <div class="d-inline text-center mx-5">
            <form action="/admin/categoryes" method="get" class="d-inline mx-4">
                <button class="btn btn-success mt-2 mx-5">Ver categorias</button>
            </form>

            <form action="/admin/categoryes/new" class="d-inline mx-4" method="get">
                <button type="submit" class="btn btn-success mt-2 mx-5"> Criar nova categoria</button>
            </form>
        </div>


        <form action="/problems/filters" method="post" class="mt-5">
                        <select name="categoryes" class="form-select">
                            {{#each categoryes}}
                            <option value="{{name}}"> {{name}} </option>
                            {{else}}
                            <option value="0"> Nenhuma categoria registrada! </option>
                            {{/each}}
                        </select>

                        <button type="submit" class="btn btn-info mt-1 mb-4"> Filtrar problemas </button>
                    </form>

        <div class="mt-5">
            
                {{#each reports}}
                    <div class="mt-4">
                        <h3> Title </h3>
                        <p> Quantidade de denuncias: </p><br/>
                        <small> Nome do usuário: </small><bt/>
                        <small> Nome do acusado: </small><bt/>
                        <small> Data da denuncia: </small><bt/>
                    </div>
                    <hr>
                {{else}}
                    <p> Nenhuma denuncia registrada </p>

                {{/each}}
        </div>

    </div>
</div>