<h1 class="text-center text-primary"> Criar nova categoria </h1>
<div class="card">
    <div class="card-body">
        <form action="/admin/categoryes/new" method="post">
            <label for="name"> Nome da categoria: </label>
            <input type="text" name="name" class="form-control mt-1">

            <button type="submit" class="btn btn-success mt-3"> Criar nova categoria </button>
        </form>
    </div>
</div>