<h3 class="mt-5"> Adicionar uma solução:  </h3>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="title"> Titulo: </label>
            <input type="text" name="title" class="form-control" required>

            <label for="description"> Descreva sua solução: </label>
            <input type="text" name="description" class="form-control" required>

            <button class="btn btn-success mt-3" type="submit"> Enviar </button>
        </form>
    </div>
</div>